.svench-app-toolbar {
  & .svench-toolbar-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    height: var(--toolbar-height);
    flex-wrap: nowrap;
  }
  & .svench-toolbar-wrapper > * {
    margin: 0.25em;
  }
  & .svench-toolbar-spacer {
    flex-grow: 100;
  }
  & .svench-toolbar-padder {
    width: 0.33em;
  }

  & .svench-toolbar-scroller {
    flex: 1;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  & .svench-toolbar-wrapper > label {
    margin: 0 0.5em;
    & > span {
      font-size: 90%;
    }
  }

  & .svench-toolbar-wrapper {
    /* & label > input[type='checkbox'] {
      position: relative;
      top: 2px;
    } */

    & button {
      line-height: 0.8em;
      margin: 0 0.25em;
      padding: 0.4em;
    }

    /* label.svench-toolbar-checkbox { */
    & label:not(.svench-toolbar-checkbox) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & label.svench-toolbar-checkbox > span {
      padding-top: 0.1em;
    }
  }

  & select {
    line-height: 1;
    margin: 0;
    margin-bottom: 4px;
    padding: 4px 4px 0 0;
    border-radius: 0;
  }
}
