.svench-viewbox-title {
  margin: 0;
  padding: 0;
}
.svench-viewbox-title a {
  display: block;
  padding: 0.33em 1em;
  padding-left: 0.5em;
  text-decoration: none;
  opacity: 0.95;
}
.svench-viewbox-title a[href]:hover {
  opacity: 1;
}
.svench-viewbox-title a,
.svench-viewbox-title a * {
  color: var(--secondary);
}

.svench-viewbox-title a .icon {
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

.svench-viewbox {
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.svench-viewbox-title {
  position: relative;
}
.svench-viewbox-toolbar {
  position: absolute;
  right: 0;
  z-index: 1;
}
.svench-viewbox-toolbar button {
  background: none;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  font-family: var(--svench-monospace);
  padding: 0.2em 0.4em;
  margin: 0.33em 0.5em;
  opacity: 0.9;
  color: var(--secondary);
}
.svench-viewbox-toolbar button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
button.code {
  font-family: 'Fira Code';
}
