extends:
  - '@rixo/svelte'

overrides:
  - files: ["rollup.config.js"]
    env:
      node: true

# settings:
#   svelte3/compiler-options:
#   customElement: true
#   svelte3/enabled: true
#   svelte3/ignore-warnings: false
#   svelte3/lint-template: false
