# Sub sub

We're using Routify behind the scene, so you can add random pages to your style guide.

Add Mdsvex for extra fun!

~~~js exec
import { Render } from 'svench'
import Sub from './Sub.svench'
~~~

We can render from `.svench` files by passing a ref to a Svench component:

    <Render src={Sub} view="big" />

<Render src={Sub} view="big" />

... or by path:

    <Render src="../Sub" view="small" />

<Render src="../Sub" view="small" />
