.svench-menu {
  margin-top: .5rem;
}

.svench-app.svench-small-screen {
  & .svench-menu {
    /* font-size: 115%; */
    /* font-size: var(--svench-font-size-big); */
    --svench-menu-font-size: var(--svench-font-size-big);
    --icon-size: var(--svench-menu-icon-size, 1);
    /* --font-size: var(--svench-menu-font-size, 1.04em); */
    & .svench-menu-item-icon {
      width: 2.6em;
      padding: 0.2em 0.1em 0;
      & .svench-menu-item-icon-icon {
        display: none;
      }
    }
    & .svench-menu-item-text {
      margin-left: -0.8em;
    }
  }
}
