<script>
  import { View } from 'svench'
</script>

<svench:options title="custom page title" />

Pages can customize their title with `svench:title`:

```svelte
<svench:options name="custom page title" />
```

See: the title (in the menu) of this page is different from its path!
