.svench-content {
  color: #333;
  /* margin: 0; */
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1.svench-content {
  font-size: 2em;
}

h2.svench-content {
  font-size: 1.66em;
}

h3.svench-content {
  font-size: 1.2em;
  font-weight: 500;
}

h4.svench-content {
  font-size: 1.2em;
  font-weight: 300;
}

h5.svench-content {
  font-size: 1em;
  font-weight: bold;
}

h6.svench-content {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

h1.svench-content,
h2.svench-content,
h3.svench-content,
h4.svench-content,
h5.svench-content,
h6.svench-content {
  margin-top: 1.5em;
  margin-bottom: 0.66em;
}

h1.svench-content {
  margin-top: 0;
}
.svench-page .svench-page h1 {
  margin-top: 1.5em;
}
