/* .focus :global(> *) {
  display: none;
}
.focus :global(> .svench.view) {
  display: inherit;
} */

.svench-renderbox-title {
  margin: 0;
  padding: 0;

  & a {
    font-size: var(--svench-font-size-big);
    color: var(--primary-light);

    & .svench-renderbox-title-icon {
      display: inline-block;
      width: 1.5em;
      text-align: center;
      font-weight: 100;
    }

    text-decoration: none;

    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  border-bottom: 1px solid var(--primary-lightest);
}

.svench-renderbox-title.svench-error,
.svench-renderbox-title {
  display: block;
  padding: 0.5em 1em;
  padding-left: 0.5em;
}
