# TODO

- [ ] Can't watch from project root (Snowpack doesn't process the event apparently)

- [ ] Automatic `mount` from Svench's `dir`

  - [ ] Auto `resolveRouteImport`

## Svenchify

- [ ] Auto default port (4242)

## Snowpack HMR

- [ ] Deleting a dynamically imported module triggers an update and causes a 404 
