/* @import './typography.css'; */
@import './app/app.css';

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);

/* https://colorpalettes.net/color-palette-4122/ */
/* https://colorpalettes.net/color-palette-3548/ */
.svench-app,
svench-component,
svench-view {
  --svench-font-size-biggest: 24px;
  --svench-font-size-bigger: 20px;
  --svench-font-size-big: 18px;
  --svench-font-size: 16px;
  --svench-font-size-small: 14px;

  /* --light-1: rgba(141, 169, 196, 1);
  --light-1-r: white;
  --light-2: #6bc4a6;
  --light-2-r: #20686c;

  --primary: rgba(19, 64, 116, 0.8);
  --primary-strong: rgba(19, 64, 116, 1);
  --primary-r: var(--light-1);
  --secondary: rgba(19, 49, 92, 1);
  --secondary: #fe982a;
  --secondary-r: #fff;
  --tertiary: rgba(11, 37, 69, 1);
  --tertiary-r: var(--light-1);

  --gray: #aaa;
  --gray-light: #eee; */

  --white: white;

  --text-primary: #666;
  --svench-text-accent: #000;

  --light-1: rgba(141, 169, 196, 1);
  --light-1-r: white;
  --light-2: #e3e8ee;
  --light-2-r: #79889a;

  /* --primary: rgba(19, 64, 116, 0.8);
  --primary-strong: rgba(19, 64, 116, 1);
  --primary-r: var(--light-1); */
  --primary: #666;
  --primary-strong: rgba(19, 64, 116, 1);
  --primary-r: var(--light-1);
  --primary-light: color(#666 tint(25%));
  --primary-lighter: color(#666 tint(50%));
  --primary-lightest: color(#666 tint(75%));

  --secondary: #bad5dc;
  --secondary: hsl(168, 33%, 75%);
  --secondary-r: #fff;
  --secondary-light: #e4ecf1;

  --tertiary-darkest: color(#b4b4af fade(75%));
  --tertiary-darker: color(#b4b4af fade(50%));
  --tertiary-dark: color(#b4b4af fade(25%));
  --tertiary: #c6c6be;
  --tertiary: color(#b4b4af);
  --tertiary-light: color(#b4b4af tint(25%));
  --tertiary-lighter: color(#b4b4af tint(50%));
  --tertiary-lightest: color(#b4b4af tint(75%));
  --tertiary-r: #e3e8ee;

  --gray: #a5b4b9;
  --gray-light: #e3e8ee;
  --gray-dark: #79889a;

  /* - padding of pages
   * - margin of views
   */
  --svench-spacing: 1.2em;

  --svench-monospace: 'Fira Code', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;

  /* magic checkbox */

  --svench-check-color: #3e97eb; /* original */
  --svench-check-color: #8891cf;
  --svench-check-color: var(--tertiary);

  /* menu */

  --svench-menu-font-size: var(--svench-font-size);
  /* --svench-menu-font-size-smaller: 12px; */
  /* --svench-menu-font-size-smallest: 10px; */
}

.svench-ui *,
.svench-ui {
  font-size: var(--svench-font-size);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--text-primary);
}

/* === Prism === */

code[class*='language-'],
.svench-ui code[class*='language-'] * {
  font-family: var(--svench-monospace);
}

/* === OverlayScrollbars === */

body
  .os-theme-dark
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  /* border-radius: 0px; */
  opacity: 0.2;
  background-color: var(--primary);
}

/* === Layout === */

.svench-page {
  padding: var(--svench-spacing);
  padding-bottom: calc(2 * var(--svench-spacing));

  &:after,
  &:before {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

  & > :first-child {
    margin-top: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }

  & .svench-renderbox {
    margin: calc(1 * var(--svench-spacing)) 0;
  }
  & svench-view {
    margin: calc(0.5 * var(--svench-spacing)) 0;
  }
}

/* ensures > viewboxes' margins collapse */
svench-component.svench-page {
  display: block;
}

.svench-app.svench-small-screen {
  /* smaller spacing on small screens */
  & .svench-page {
    padding: calc(0.5 * var(--svench-spacing));
    padding-bottom: calc(1 * var(--svench-spacing));
  }
}
